{% extends 'base.html' %}
{% block content %}
<div id="main_div">
    <div class="grid-example col s12 m6">
        <span class="flow-text">
            <form action="{% url 'slab:create_sticker' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{slab.id}}"/>
                <table>
                    <thead>
                    <th colspan="2"><center><h4>Add A New Sticker</h4></center></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><font>Sticker Name:</font></td>
                            <td>
                                <div class="input-field col s6">
                                    <input id="sticker_name" name="sticker_name" type="text" class="validate">
                                    <label for="sticker_name">Sticker Name</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><font>Sticker Type:</font></td>
                            <td>
                                <label>Sticker Type</label>
                                <select id="sticker_type" name="sticker_type" class="browser-default">
                                    <option value="" disabled selected>Choose Type</option>
                                    <option value="text">Text Sticker</option>
                                    <option value="link">Link Sticker</option>
                                    <option value="image">Image Sticker</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><font>Sticker Content:</font></td>
                            <td colspan="2">
                                <div class="input-field col s6">
                                  <textarea id="sticker_text" name="sticker_text" class="materialize-textarea"></textarea>
                                  <label for="sticker_text">Sticker Content</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><font>X Coordinate:</font></td>
                            <td>
                                <div class="input-field col s3">
                                    <input id="x_coordinate" name="x_coordinate" type="text" class="validate">
                                    <label for="x_coordinate">X Coordinate</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><font>Y Coordinate:</font></td>
                            <td>
                                <div class="input-field col s3">
                                    <input id="y_coordinate" name="y_coordinate" type="text" class="validate">
                                    <label for="y_coordinate">Y Coordinate</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan ="2"><center><button class="btn btn-primary" type="submit">Create Sticker</button></center></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </span>
    </div>
</div>
{% endblock %}