<!-- A LIST OF SLABS CREATED BY OTHER PEOPLE SAVED TO THE USER'S PROFILE FOR EASY REFERENCE -->
{% extends 'base.html' %}
{% block content %}
<h1>Bookmarks <i class="material-icons">book</i></h1>
<!-- BOOKMARK CONTAINER -->
<div class = "main_div">
    <div class="white_list_box single_centered_box">
        <ul class="collection with-header">
            <!-- CAN VIEW OR REMOVE BOOKMARKED SLABS -->
            {% for slab in slabs %}
            <li class="collection-item">
                <a href="{% url 'slab:show_slab' slab.id  %}">{{slab.name}}</a>
                <a href="#" class="secondary-content">&nbsp;<i class="material-icons icon-red">delete</i></a>
                <a href="{% url 'slab:show_slab' slab.id  %}" class="secondary-content"><i class="material-icons icon-blue">input</i></a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- BACK TO PROFILE -->
<div class="footer_buttons">
    <a class="waves-effect waves-light btn blue" href="{% url 'slab:profile' %}"><i class="material-icons">subdirectory_arrow_left</i> Back to Profile</a>
</div>
{% endblock %}