{% extends 'base.html' %}
{% block content %}
<h1>Search Slabs</h1>
<div class="main_div">
  <div id="search_area" name="search_area">
    <input type="text" id="search_bar" name="search_bar" placeholder="🔍Search Slabs" title="Type in a name">
    <table id="search_results" name="search_results" class="black_box">
      <tr class="header">
        <th><h4>Slab Name</h4></th>
        <th><h4>Slab Creator</h4></th>
        <th><h4>Slab Link</h4></th>
      </tr>
      {% for slab in slabs %}
      <tr>
        <td class = "search_text">
          {{slab.name}}
        </td>
        <td class = "search_text">
          {{slab.user.username}}
        </td>
        <td>
          <a href="{% url 'slab:show_slab' slab.id %}" class="waves-effect waves-light btn-small blue"><i class="material-icons right">input</i> See Slab</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <br>
  <div id="all_public_slabs" name="all_public_slabs" class="black_box">
    <center>
      <h4>All Public Slabs</h4>
      <hr> |
      {% for slab in slabs %}
      <a href="{% url 'slab:show_slab' slab.id %}"> {{slab.name}}</a> |
      {% endfor %}
    </center>
  </div>
</div>
<script type="text/javascript">
  // SEARCH BAR FUNCTIONALITY
  let search_bar = document.querySelector('#search_bar')
  search_bar.onkeyup = function() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("search_bar");
    filter = input.value.toUpperCase();
    table = document.getElementById("search_results");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
{% endblock %}