{% extends 'base.html' %}
{% block content %}
<a href="{% url 'slab:show_slab' slab.id %}"><h1>{{slab.name}}<i class="material-icons">edit</i></h1></a>
<div class="main_div">
    <form action="{% url 'slab:edit_slab' %}" method="post">
        {% csrf_token %}
        <input name="slab_id" value="{{slab.id}}" type="hidden">
        <div id="slab_settings" name="slab_settings" class="white_list_box single_centered_box">
            <ul class="collapsible">
                <!-- Copy Slab's Link -->
                <li>
                    <div class="collapsible-header"><i class="material-icons">share</i>Share Slab Link</div>
                    <div class="collapsible-body">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </div>
                </li>
                <!-- Change Slab's Wallpaper -->
                <li>
                    <div class="collapsible-header"><i class="material-icons">wallpaper</i>Change Wallpaper</div>
                    <div id="wallpaper_type" name="wallpaper_type" class="collapsible-body">
                        <p>
                            <label>
                                <input name="wallpaper" id="default_wallpaper" value="default" type="radio" selected/>
                                <span>Default Wallpaper</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="wallpaper" id="space_wallpaper" value="space" type="radio"/>
                                <span>Space Wallpaper</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="wallpaper" id="triangle_wallpaper" value="triangle" type="radio"/>
                                <span>Triangle Wallpaper</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="wallpaper" id="abstract_wallpaper" value="abstract" type="radio"/>
                                <span>Abstract Wallpaper</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="wallpaper" id="gradient_wallpaper" value="gradient" type="radio"/>
                                <span>Gradient Wallpaper</span>
                            </label>
                        </p>
                    </div>
                </li>
                <!-- Edit Slab's HTML -->
                <li>
                    <div class="collapsible-header"><i class="material-icons">format_color_text</i>Edit Font</div>
                    <div class="collapsible-body">
                        <span>Add toolbar to slab which lets user add text boxes to slab:</span>
                        <p>
                            <label>
                                <input name="text_toolbar" id="hide_text_toolbar" value="hide_toolbar" type="radio" selected/>
                                <span>Hide Textbox Toolbar</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="text_toolbar" id="show_text_toolbar" value="show_toolbar" type="radio"/>
                                <span>Show Textbox Toolbar</span>
                            </label>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <br>
        <center>
            <button class="btn waves-effect waves-light blue" type="submit" name="action">Save
                <i class="material-icons left">save</i>
            </button>
        </center>
    </form>
    <footer>
        <a class="waves-effect waves-light btn-small blue" href="{% url 'slab:show_slab' slab.id %}"><i
                class="material-icons">subdirectory_arrow_left</i> Back to Slab</a>
    </footer>
</div>
<!-- Changes the background image -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});
    });

    $(document).ready(function() {
        M.updateTextFields();
    });

    $(document).ready(function() {
        $('input#input_text, textarea#textarea2').characterCounter();
    });
</script>
{% endblock %}