{% extends 'base.html' %}
{% block content %}
<h1 id="site_title" name="site_title">
    <center>
    {% load static %}
    Sticker <img id="logo" src="{% static 'slab/images/logo.png' %}" width="25" height="30" class="d-inline-block align-top" alt="Sticker Slab">Slab
    </center>
</h1>
<div class = "main_div">
    <div id="landing_card" name="landing_card" class="card">
        <div class="card-image">
            <img src="{% static 'slab/images/sticker_slab.jpg' %}">
            <span class="card-title">Getting Started</span>
        </div>
        <div class="card-content">
            <p>Sticker Slab is a simple social media that...</p>
        </div>
        <div class="card-action">
            <center><a style="color:lime;" href="{% url 'slab:register' %}"><i class="material-icons">account_box</i> Sign Up/In </a></center>
        </div>
    </div>
</div>
{% endblock %}