<!-- LANDING PAGE FOR STICKER SLAB -->
{% extends 'base.html' %}
{% block content %}
<!-- WEBSITE TITLE -->
<h1 id="site_title" name="site_title">
    <center>
    {% load static %}
    Sticker <img id="logo" src="{% static 'slab/images/logo.png' %}" width="25" height="30" class="d-inline-block align-top" alt="Sticker Slab">Slab
    </center>
</h1>
<!-- GETTING STARTED INFO -->
<div class = "main_div">
    <!-- DIRECTS USER TO SIGNIN/UP -->
    <div id="loggedin_account" name="loggedin_account" class="row">
        {% if user.is_authenticated %}
        <h5>
            Welcome {{user.username}}
            <a class="waves-effect waves-light btn-small green right" href="{% url 'slab:bookmarked' %}"><i class="material-icons left">book</i>Bookmarks</a>
            <a class="waves-effect waves-light btn-small green right" href="{% url 'slab:profile' %}"><i class="material-icons left">account_box</i>Profile</a>
        </h5>
        {% else %}
        <h5>
            Get Started!
            <a class="waves-effect waves-light btn-small green right" href="{% url 'slab:register' %}"><i class="material-icons left">forward</i>Sign In/Up</a>
        </h5>
        {% endif %}
    </div>
    <!-- PROVIDES USER WITH INFO ON STICKER SLAB -->
    <div id="landing_card" name="landing_card" class="card">
        <div class="card-image">
            <img src="{% static 'slab/images/sticker_slab.jpg' %}">
            <span class="card-title">About Sticker Slab</span>
        </div>
        <div class="card-content">
            <p>Sticker Slab is a simple social media that...</p>
        </div>
        <div class="card-action">
            <center><a style="color:lime;" href="{% url 'slab:info' %}">More About Sticker Slab</a></center>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}