{% extends 'base.html' %}
{% block content %}
<h1>{{user.username}}</h1>
<div class="container">
    <div id="create_new" name="create_new" class="item col s12 m6 black_box">
        <span class="flow-text">
            <form action="{% url 'slab:create_slab' %}" method="post">
                {% csrf_token %}
                <table>
                    <thead>
                    <th colspan="2"><h4>New Slab:</h4></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><font>Slab Name:</font></td>
                            <td>
                                <div class="input-field col s6">
                                    <input id="slab_name" name="slab_name" type="text" class="validate">
                                    <label for="slab_name">Slab Name</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><font>Slab Privacy:</font></td>
                            <td>
                                <p>
                                    <label>
                                        <input name="private_slab" class="with-gap" type="checkbox"/>
                                        <span>Private</span>
                                    </label>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan ="2"><center><button class="btn btn-primary green" type="submit">Create Slab</button></center></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </span>
    </div>
    <div id="my_slabs" name="my_slabs" class="item col s12 m6 white_list_box">
        <ul class="collection with-header">
            <li class="collection-header"><h4>My Slabs:</h4></li>
            {% for slab in user.slab_set.all %}
            <li class="collection-item"><a href="{% url 'slab:show_slab' slab.id %}"><font>{{slab.name}}</font><div class="secondary-content"><i class="material-icons icon-blue">input</i></div></a></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div id="profile_settings" name="profile_settings" class="footer_buttons">
    <p id="demo"></p>
    <footer>
        <a class="dropdown-trigger waves-effect waves-light btn-small blue" data-target='dropdown1'>
            <i class="material-icons">settings</i> Account Settings</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{% url 'slab:bookmarked' %}" class="blue-text"><i class="material-icons">book</i> Bookmarks</a></li>
            <li><a href="{% url 'slab:switch_users' %}" class="blue-text"><i class="material-icons">loop</i> Switch User</a></li>
            <li><a href="#!" class="blue-text"><i class="material-icons">border_color</i> Edit User</a></li>
            <li><a onclick="deleteAccount()" class="red-text"><i class="material-icons">delete_forever</i> Delete User</a></li>
            <li class="divider" tabindex="-1" class = "blue-text"></li>
            <li><a href="#!" class="blue-text"><i class="material-icons">expand_more</i> Close Settings</li>
        </ul>
    </footer>
</div>
<!-- Materialize Dropdown CDN -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.dropdown-trigger');
        var instances = M.Dropdown.init(elems, {});
    });

    function deleteAccount() {
        var txt;
        var r = confirm("Are you sure you want to delete your account? Once deleted the account can never be recovered.");
        if (r == true) {
            txt = "You pressed OK!";
        } else {
            txt = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = txt;
    }
</script>
{% endblock %}