{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
<div id="main_div">
    <div class="row">
        <!-- Where New Users Create Account -->
        <div class="grid-example col s12 m6">
            <span class="flow-text">
                <form action="{% url 'slab:signup_user' %}" method="post">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <th colspan="2"><h4>Create An Account:</h4></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><font>Username:</font></td>
                                <td>
                                    <div class="input-field col s6">
                                        <input id="create_username" name="create_username" type="text" class="validate">
                                        <label for="create_username">Username</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><font>Email:</font></td>
                                <td>
                                    <div class="input-field col s6">
                                        <input id="create_email" name="create_email" type="email" class="validate">
                                        <label for="create_email">Email</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><font>Password:</font></td>
                                <td>
                                    <div class="input-field col s6">
                                        <input id="create_password" name="create_password" type="password" class="validate">
                                        <label for="create_password">Password</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <button class="btn btn-primary" type="submit">Sign up</button>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </span>
        </div>
        <!-- Returning Users Sign Into Their Accounts -->
        <div class="grid-example col s12 m6">
            <span class="flow-text">
                <table>
                    <thead>
                    <th colspan="2"><h4>Log Into Account:</h4></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><font>Username:</font></td>
                            <td>
                                <div class="input-field col s6">
                                    <input id="check_username" name="check_username" type="text" class="validate">
                                    <label for="check_username">Username</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><font>Password:</font></td>
                            <td>
                                <div class="input-field col s6">
                                    <input id="check_password" name="check_password" type="password" class="validate">
                                    <label for="check_password">Password</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><font>Forgot Password?</font></td>
                            <td><a class="waves-effect waves-light btn">Button</a></td>
                        </tr>
                    </tbody>
                </table>
            </span>
        </div>
    </div>
</div>
{% endblock %}