<!-- ALLOWS THE USER TO CREATE OR SIGN INTO AN ACCOUNT -->
{% extends 'base.html' %}
{% block content %}
<h1>Sign Up/In</h1>
<!-- SIGNIN/UP AREA -->
<div class="main_div">
    <div id="login_area" name="login_area" class="row black_box">
        <!-- NEW USERS CAN CREATE AN ACCOUNT -->
        <div class="grid-example col s12 m6">
            <span class="flow-text">
                <form action="{% url 'slab:signup_user' %}" method="post">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <th colspan="2"><center><h4 style="color:white;">Create An Account:</h4></center></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="attempted_username">Username:</td>
                                <td>
                                    <div class="input-field col s6">
                                        <input id="create_username" name="create_username" type="text" pattern="[0-9a-zA-Z@.+-_]" class="validate" required>
                                        <label for="create_username">Username</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td>
                                    <div class="input-field col s6">
                                        <input id="create_password" name="create_password" type="password" class="validate" required>
                                        <label for="create_password">Password</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button id="sign_up" class="btn btn-primary green" type="submit">Sign up</button></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </span>
        </div>
        <!-- RETURNING USERS LOG INTO THEIR ACCOUNTS -->
        <div class="grid-example col s12 m6">
            <span class="flow-text">
                <form action="{% url 'slab:signin_user' %}" method="post">
                    {% csrf_token %}
                    <table>
                        <thead>
                        <th colspan="2"><center><h4 style="color:white;">Log Into Account:</h4></center></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td><font>Username:</font></td>
                                <td>
                                    <div class="input-field col s6">
                                        <input id="check_username" name="check_username" type="text" class="validate" required>
                                        <label for="check_username">Username</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td><font>Password:</font></td>
                                <td>
                                    <div class="input-field col s6">
                                        <input id="check_password" name="check_password" type="password" class="validate" required>
                                        <label for="check_password">Password</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><button class="btn btn-primary green" type="submit">Sign In</button></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </span>
        </div>
        <center><span style="color:white;">*Usernames must only contain letters, numbers and (@ . + - _) characters.</span></center>
    </div>
    <br>
    <br>
</div>
{% endblock %}