{% extends 'base.html' %}
{% block content %}
<h1>{{sticker.name}}</h1>
<div id="main_div" name="main_div">
    <div id="sticker_header" name="sticker_header">
        <h5>Posted by {{sticker.slab.user.username}} onto {{sticker.slab.name}}</h5>
    </div>
    <div id="show_text" name="show_text">
        <p>{{sticker.text}}</p>
    </div>
    <footer>
        <a class="waves-effect waves-light btn-small blue" href="{% url 'slab:show_slab' sticker.slab.id %}"><i class="material-icons">subdirectory_arrow_left</i> Back to Slab</a>
    </footer>
</div>
{% endblock %}