#main_div {
    margin: 1%;
    padding: 1%;
}
.th {
    text-align: center;
    text-weight: bold;
}
table {
    width: 40%;
    padding: 5%;
    border: 3px solid black;
}
#new_slab {
    border-style: solid;
    border-color: LightGray;
    border-width: 1px;
    border-bottom-width: 2px;
}